$table-header-font-color: rgba(0, 0, 0, 0.54);
$table-cell-font-color: rgba(0, 0, 0, 0.87);
$table-cell-border-color: rgba(240, 240, 240, 1);

$table-row-hover-color: rgba(238, 238, 238, 1);
$table-row-selected-color: rgba(245, 245, 245, 1);

$table-background-color: rgba(255, 255, 255, 1);

@mixin table{
    table{
    	border-collapse: collapse;
	    border-spacing: 0;
	    empty-cells: show;
	    width: 100%;
	    border: 1px solid rgba(231, 231, 231, 1);

	    caption{
	    	color: #000;
		    font: italic 85%/1 arial, sans-serif;
		    padding: 1em 0;
		    text-align: center;
	    }

	    td, th{
	    	border-left: 1px solid rgba(231, 231, 231, 1);
	    	border-bottom: 1px solid rgba(231, 231, 231, 1);
		    font-size: inherit;
		    margin: 0;
		    overflow: visible;
		    padding: 0.625em 1em;
		    font-size: 1em;
		    text-align: left;
	    }

	    thead {
		    background-color: rgba(245, 247, 250, 1);
		    color: rgba(74, 74, 74, 1);
		    text-align: left;
		    vertical-align: bottom;
		}

    }
}


@mixin table-with-div{
    .table{
	    width: 100%;
	    display: table;
	    margin: 0;
	    -webkit-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.14);
	  	-moz-box-shadow:    0px 0 2px 0 rgba(0, 0, 0, 0.14);
	    box-shadow:         0px 0 2px 0 rgba(0, 0, 0, 0.14);
	    
	    .row, .theader{
	      display: table-row;
	    }

	    .cell{
	      display: table-cell;
	      border-bottom: 1px $table-cell-border-color solid;
	    }

	    .row{
	      .cell{
	        font-size: 13px;
	        color: $table-cell-font-color;
	        font-weight: unset !important;
	        padding: 12px 0;
	        background-color: $table-background-color;
	        cursor: pointer;
	      }

	      &:hover{
	        .cell{
	        	background-color: $table-row-hover-color;
	        }
	      }
	    }

	    .theader{
	      .cell{
	      	color:$table-header-font-color;
	        font-size: 12px;
	        font-weight: unset !important;
	        background-color: $table-background-color;
	        padding: 18px 0;
	      }
	    }

	    .row .cell:nth-child(1),.theader .cell:nth-child(1){
	      padding-left: 24px;
	    }
   }

  .table, .row, .theader{
    width: 100% !important;
  }
};

@mixin table-with-div-reponsive{
	.table {
		display: block;
		.cell {
			display: inline-block;
		}

		.row {
			display: block;
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			overflow: hidden;
			@include grid;
			.cell{
				@include grid-unit;
				padding: 0 0 8px 16px;
				font-weight: unset !important;
				box-sizing: border-box;
				color: $table-header-font-color;
				width: 50%;
				font-size: 12px;
				&:nth-child(1){
					width: 100%;
					border: none;
					color: $table-cell-font-color;
					font-size: 14px;
					padding: 12px 0 8px 16px;
				}
			}
		}

		.theader {
			padding: 0;
			height: 0px;
			.cell {
				display: none;
			}
		}
	}

	.table{
		width: 100% !important;
	}
}