$font-color: rgba(0, 0, 0, 0.87);
$font-hover-color: rgba(0, 0, 0, 0.54);
$font-selected-color: rgba(0, 0, 0, 0.15);

$backgroud-color: rgba(255, 255, 255, 1);
$backgroud-hover-color: rgba(238, 238, 238, 1);
$backgroud-selected-color: rgba(245, 245, 245, 1);

