@import 'variables';

@mixin menu_list{
	ul, li{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	a{
		text-decoration: none;
		color: $anchor-color;
		font-size: 1em;
		padding: 1em;
		&:hover, &.selected{
			color: $anchor-hover-color;
			background-color: $anchor-hover-background-color;
		}
	}
}