$button-font-color: $white-color;
$button-background-color: $action-background-color;
$button-background-hover-color: $action-background-hover-color;

$ripple-background-color: $shine-color;

$text-button-font-color: $action-background-color;
$text-button-font-hover-color: $action-background-hover-color;
$text-button-background-color: $white-color;
$text-button-background-hover-color: $lighter-grey-color;

@mixin button{
    @include reset-mobile-select;
    @include border-radius(2px);
    color: $button-font-color;
    background-color: $button-background-color;
    padding: 12px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
};

@mixin button-hover{
    background-color: $button-background-hover-color;
};

@mixin ripple{
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    background-color: $ripple-background-color;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
  };

  &:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
  };
};


@mixin text-button{
    color: $text-button-font-color;
    background-color: $text-button-background-color;
}

@mixin text-button-hover{
    color: $text-button-font-hover-color;
    background-color: $text-button-background-hover-color;
}

@mixin drop-down-button{
    padding: 12px;
}

