//buttons
@mixin primary-button{
    outline: 0;
  	color: $button-font-color;
  	background-color: $button-background-color;
  	text-decoration: none;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 0;
    border-radius: 0;
  	&:hover{
  		background-color: $button-background-hover-color;
  	}
  	&[disabled], &.disabled, &[disabled]:hover, &.disabled:hover{
  		background-color: $button-background-disable-color;
      color: $button-font-disable-color;
      opacity: 0.5;
      cursor: auto;
  	}
};

@mixin secondary-button{
    outline: 0;
    color: $secondary-button-font-color;
    background-color: $secondary-button-background-color;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 2px solid $secondary-button-border-color;
    border-radius: 0;
  	&:hover{
  		background-color: $secondary-button-background-hover-color;
      color: $secondary-button-font-hover-color;
  	}
  	&[disabled], &.disabled, &[disabled]:hover, &.disabled:hover{
  		background-color: $secondary-button-background-disable-color;
      color: $secondary-button-font-disable-color;
      opacity: 0.5;
      cursor: auto;
  	}
};

@mixin select-button{
    outline: 0;
    color: $select-button-font-color;
    background-color: $select-button-background-color;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 2px solid $select-button-border-color;
    border-radius: 0;
    position: relative;
    &:hover{
      background-color: $select-button-background-hover-color;
      border-color: $select-button-border-hover-color;
      color: $select-button-font-hover-color;
    }
    &.selected, &.selected:hover{
      background-color: $select-button-background-selected-color;
      border-color: $select-button-border-selected-color;
      color: $select-button-font-selected-color;
      &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 12px solid $select-button-border-selected-color;
        border-top: 12px solid transparent;
        border-left: 12px solid transparent;
        bottom: 0;
        right: 0;
      };
      &::after{
          content: "";
          width: 5px;
          height: 12px;
          border-bottom: 2px solid $white-color;
          border-right: 2px solid $white-color;
          position: absolute;
          right: 3px;
          bottom: 2px;
          transform: rotate(40deg);
      };
    }
    &[disabled], &.disabled, &[disabled]:hover, &.disabled:hover{
      background-color: $select-button-background-disable-color;
      border-color: $select-button-border-disable-color;
      color: $select-button-font-disable-color;
      opacity: 0.5;
      cursor: auto;
    }
};

