@import '../utils/utils';
@import "../common/common";

@import '../theme/light';

@import '../icons/icon';

@import "../status/works";
@import "../status/hover";

@import '../reset/reset';
@import "../layout/bar";
@import "../layout/grid";
@import "../layout/nav";

@import "../comps/menu/menu";
@import "../comps/button/button";
@import "../comps/table/table";
@import "../comps/accordion/accordion";
@import "../comps/list/list";

@import "../table";

@include reset;


.wrapper{
	padding: 0 12px;
	&[class~="-wrapper"]{
		margin: 1rem 0 0 0;
	};
}


.main-title{
	@include bar;
	padding-left: 0;
	font-size: 1.5em;
};

.button{
	@include button;
	@include ripple;
	&:active{
      	@include button-hover;
    }
};

.text-button{
	@include button;
	@include text-button;
	&:active{
      	@include text-button-hover;
    }
};	

.drop-down-button{
	@include button;
    input{
    	display: none;
    	&:checked ~ ul{
	  		opacity: 1;
			visibility: visible;
			-webkit-transform: translate(0, 5px);
          	transform: translate(0, 5px);
	    }
    }
    @include icon-down-triangle;
    &:before{
    	border-top: 6px solid $white-color;
    }
    position: relative;
    display: inline-block;
    padding-right: 2.5rem;
    overflow: inherit;
    @include reset-lists;
	ul{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		@include border-radius(0.125rem);
		@include list;
		li{
			font-size: 0.8125rem;
			padding: 0.75rem 1rem;
			cursor: pointer;
		}
	};
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  transition: opacity .25s ease;
  display: block;
  z-index: -20;
  width: 100%;
  height: 100%;
  min-height: 100%;

};

.pop-toggle{
  position: absolute;
  top: -200000px;
};

.pop-toggle:checked{
     ~ .modal{
        opacity: 1;
        visibility: visible;
        z-index: 20;
    }
};

.button-wrapper{
	margin: 1rem 0 0 0;
	> div{
		margin: 1rem 0 0 0.5625rem;
	};
};


.table-wrapper{
	margin: 3rem 0 0 0;
	> div{
		margin: 1rem 0 0 0.5625rem;
	};
	.table-comps-wrapper{
		@include table-with-div;
	}
};

.accordion-wrapper{
	margin: 3rem 0 0 0;
	> div{
		margin: 1rem 0 0 0.5625rem;
	};
	@include reset-lists;
	@include accordion;

	.accordion{
		.item{
			label{
				font-weight: bolder;
			};
			
			.content{
				padding: 0.75rem 1.5rem;
				border-left: 1px $accordion-border-color solid;
				border-right: 1px $accordion-border-color solid;
				color: rgba(0, 0, 0, 0.3);
			}
		}
	};	
};

.accordion-wrapper{
	> label{
		display: inline-block;
	}
}


.list-wrapper{
	margin: 3rem 0 0 0;
	> div{
		margin: 1rem 0 0 0.5625rem;
	};
	@include reset-lists;
	ul{
		@include list;
		li.icon-tick{
			@include icon-tick;
		}
	};
};

.menu-wrapper{
	margin: 3rem 0 0 0;
	> div{
		margin: 1rem 0 0 0.5625rem;
	};

	.vertical-menu-wrapper{
		width: 8rem;
		margin: 0 0 1rem;
		@include reset-lists;
		ul{
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			@include border-radius(0.125rem);
			@include list;
			> li{
				position: relative;
				ul{
					display: none;
					position: absolute;
					left: 100%;
				    top: 0;
				    z-index: 1;
				    width: 100%;

				};
				&:hover, &:focus, &:active{
					ul{
						display: block;
					}
				}
			}
			li.sub-menu{
				@include icon-right-triangle;
			}
			li{
				font-size: 0.8125rem;
				padding: 0.75rem 1rem;
				cursor: pointer;
			}
			li.icon-tick{
				@include icon-tick;
			}
		};
	}
};

.bar-wrapper{
	margin: 3rem 0 0 0;
	div{
		margin: 1rem 0 0 0.5625rem;
	};
	.snackbar{
		@include bar;
		@include bar-works;
		margin: 1rem 0;
		&.round{
			@include border-radius(20px);
		}
	};
};